.password_list_item{
	@include display_flex();
	align-items: center;
	justify-content:space-around;
	border:1px solid #fff;
	margin-bottom: 8px;
    font-size: 15px;
}

.password_list_item div{
	padding:12px;
}
.password_list_item input{
	padding: 7px;
	width: 65%;
	margin: 0px;
}

.password_icons{
	display: block;
	text-decoration:none;
}