@import url('https://fonts.googleapis.com/css?family=Geostar+Fill');
*{
	color:$text_color;
}
html{
	
}
body{
	font-family: 'Geostar Fill', cursive;
	font-size:$medium_text;
	background-color: $blue;
}
button{
	cursor:pointer;
}
button:disabled{
	cursor:default;
}
.container{
	width:100%;
	max-width:1200px;
	//overflow:hidden;
	position:relative;
	margin:0 auto;
}
.clear{clear:both;}
.left{float:left;}
.right{float:right;}
.inline_block{display:inline-block;}
.success_message_margin_top{margin-top:36%;}
.remove{display:none;}
.form_remove{display:none;}
.close_modal{
	font-size: 45px;
    text-decoration: none;
    border: 1px solid white;
    padding: 0px 7px;
}