// Colors
$darkest_blue:#010206;
$dark_blue:#01040D;
$blue:#0D3244;
$text_color:#ffffff;

//texts
$small_text:18px;
$medium_text:20px;
$error_text:#e71837;
$success_text:#32CD32;

//big fonts
$small_font:22px;
$medium_font:24px;
$large_font:26px;
$largest_font:28px;

// Spacing
